@import url(/CSS/reset.css);





.logo__header{
    border-radius: 2rem;
  
}






.modal-content{
    color: bisque;
    background-color: rgb(29, 89, 124);
}

.offcanvas{
    background-color: rgb(29, 89, 124);   
}







.footer2{
    height: 4rem;
    position: relative;
}











@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #4e54c8;
    overflow: hidden;
    /* z-index: -1; */
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
    /* z-index: -1; */
}


.card__main{
    position: relative;
}


.background li:nth-child(0) {
    left: 0%;
    width: 139px;
    height: 139px;
    bottom: -139px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 58%;
    width: 165px;
    height: 165px;
    bottom: -165px;
    animation-delay: 1s;
}
.background li:nth-child(2) {
    left: 69%;
    width: 138px;
    height: 138px;
    bottom: -138px;
    animation-delay: 8s;
}
.background li:nth-child(3) {
    left: 57%;
    width: 126px;
    height: 126px;
    bottom: -126px;
    animation-delay: 2s;
}
.background li:nth-child(4) {
    left: 14%;
    width: 169px;
    height: 169px;
    bottom: -169px;
    animation-delay: 2s;
}
.background li:nth-child(5) {
    left: 19%;
    width: 121px;
    height: 121px;
    bottom: -121px;
    animation-delay: 7s;
}
.background li:nth-child(6) {
    left: 85%;
    width: 125px;
    height: 125px;
    bottom: -125px;
    animation-delay: 18s;
}
.background li:nth-child(7) {
    left: 66%;
    width: 162px;
    height: 162px;
    bottom: -162px;
    animation-delay: 13s;
}
.background li:nth-child(8) {
    left: 72%;
    width: 181px;
    height: 181px;
    bottom: -181px;
    animation-delay: 2s;
}
.background li:nth-child(9) {
    left: 66%;
    width: 181px;
    height: 181px;
    bottom: -181px;
    animation-delay: 9s;
}
.background li:nth-child(10) {
    left: 63%;
    width: 127px;
    height: 127px;
    bottom: -127px;
    animation-delay: 33s;
}
.background li:nth-child(11) {
    left: 64%;
    width: 106px;
    height: 106px;
    bottom: -106px;
    animation-delay: 41s;
}
.background li:nth-child(12) {
    left: 59%;
    width: 168px;
    height: 168px;
    bottom: -168px;
    animation-delay: 6s;
}
.background li:nth-child(13) {
    left: 73%;
    width: 100px;
    height: 100px;
    bottom: -100px;
    animation-delay: 60s;
}
.background li:nth-child(14) {
    left: 76%;
    width: 160px;
    height: 160px;
    bottom: -160px;
    animation-delay: 19s;
}
.background li:nth-child(15) {
    left: 18%;
    width: 151px;
    height: 151px;
    bottom: -151px;
    animation-delay: 55s;
}
.background li:nth-child(16) {
    left: 74%;
    width: 189px;
    height: 189px;
    bottom: -189px;
    animation-delay: 45s;
}
.background li:nth-child(17) {
    left: 2%;
    width: 154px;
    height: 154px;
    bottom: -154px;
    animation-delay: 55s;
}
.background li:nth-child(18) {
    left: 38%;
    width: 128px;
    height: 128px;
    bottom: -128px;
    animation-delay: 70s;
}
.background li:nth-child(19) {
    left: 60%;
    width: 108px;
    height: 108px;
    bottom: -108px;
    animation-delay: 21s;
}
.background li:nth-child(20) {
    left: 13%;
    width: 115px;
    height: 115px;
    bottom: -115px;
    animation-delay: 1s;
}
.background li:nth-child(21) {
    left: 65%;
    width: 136px;
    height: 136px;
    bottom: -136px;
    animation-delay: 50s;
}
.background li:nth-child(22) {
    left: 27%;
    width: 167px;
    height: 167px;
    bottom: -167px;
    animation-delay: 38s;
}
.background li:nth-child(23) {
    left: 13%;
    width: 156px;
    height: 156px;
    bottom: -156px;
    animation-delay: 58s;
}
.background li:nth-child(24) {
    left: 61%;
    width: 136px;
    height: 136px;
    bottom: -136px;
    animation-delay: 70s;
}
.background li:nth-child(25) {
    left: 86%;
    width: 183px;
    height: 183px;
    bottom: -183px;
    animation-delay: 99s;
}
.background li:nth-child(26) {
    left: 88%;
    width: 132px;
    height: 132px;
    bottom: -132px;
    animation-delay: 36s;
}
.background li:nth-child(27) {
    left: 53%;
    width: 146px;
    height: 146px;
    bottom: -146px;
    animation-delay: 72s;
}
.background li:nth-child(28) {
    left: 39%;
    width: 110px;
    height: 110px;
    bottom: -110px;
    animation-delay: 71s;
}
.background li:nth-child(29) {
    left: 25%;
    width: 127px;
    height: 127px;
    bottom: -127px;
    animation-delay: 118s;
}
.background li:nth-child(30) {
    left: 73%;
    width: 131px;
    height: 131px;
    bottom: -131px;
    animation-delay: 37s;
}
.background li:nth-child(31) {
    left: 13%;
    width: 118px;
    height: 118px;
    bottom: -118px;
    animation-delay: 114s;
}



/* media queries */


@media screen and (max-width: 768px) {


  


    .footer2{
       height: 5rem;
    }

    
}